* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-through: #e7dfd3;
    --background-glass: url("https://www.transparenttextures.com/patterns/otis-redding.png");

    /*url("https://www.transparenttextures.com/patterns/otis-redding.png");*/
}

body {
    position: relative;
    background-color: var(--font-through);
    overflow-y: hidden;
}

main {
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
}

section {
    min-width: 100vw;
    height: 100vh;
}
  
/* ------------------- HERO ---------------------- */

.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.studio-title {
    float: left;
    margin-left: 5%;
    width: 60vw;
}

.silence-title {
    float:right;
    margin-right: 5%;
    width: 70.11vw;
}


.cover-shape-one {
    background-image: var(--background-glass);
    width: 28vw;
    height: 100%;
    background-color: rgba(202, 13, 0, 0.5);
    position: absolute;
    right: 100%;
    overflow: hidden;
    transition: all ease-in-out 0ms;
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur( 25px );
    z-index: 5;
}
.cover-shape-two {
    background-image: var(--background-glass);
    width: 28vw;
    height: 100%;
    background-color: rgba(140, 177, 116, 0.5);
    position: absolute;
    right: 124.5%;
    overflow: hidden;
    transition: all ease-in-out 0ms;
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur( 25px );
    z-index: 5;
}

.cover-shape-three {
    background-image: var(--background-glass);
    width: 28vw;
    height: 100%;
    background-color: rgba(94, 68, 206, 0.5);
    position: absolute;
    right: 147%;
    overflow: hidden;
    transition: all ease-in-out 0ms;
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur( 25px );
    z-index: 5;
}

.cover-shape-four {
    background-image: var(--background-glass);
    width: 28vw;
    height: 100%;
    background-color: rgba(215, 88, 226, 0.5);
    position: absolute;
    right: 169.5%;
    overflow: hidden;
    transition: all ease-in-out 0ms;
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur( 25px );
    z-index: 5;
}

.cover-shape-five {
    background-image: var(--background-glass);
    width: 28vw;
    height: 100%;
    background-color: rgba(229, 231, 114, 0.5);
    position: absolute;
    right: 192%;
    overflow: hidden;
    transition: all ease-in-out 0ms;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur( 25px );
    z-index: 5;
}

.circle-hero {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgba(44, 55, 156, 0.5);
    position: absolute;
    bottom: 0%;
    right: 0%;
    overflow: hidden;
    transition: all ease-in-out 1000ms;
    background-image: var(--background-glass);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur( 25px );
    animation-name: circle-hero;
    animation-duration: 30000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes circle-hero {
    0% {
        bottom: -100%;
        right: 0%;
        width: 300px;
        height: 300px;
    }

    50% {
        bottom: 110%;
        right: 100%;
        width: 400px;
        height: 400px;
    }

    100%{
        bottom: 100%;
        right: 100%;
        width: 300px;
        height: 300px;
    }
}

.rectangle-hero {
    width: 500px;
    height: 150px;
    background-color: rgba(236, 208, 47, 0.5);
    position: absolute;
    transition: all ease-in-out 1000ms;
    top: 40%;
    left: -100%;
    background-image: var(--background-glass);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur( 25px );
    animation-name: rectangle-hero;
    animation-duration: 30000ms;
    animation-timing-function: linear;
    animation-delay: 7500ms;
    animation-iteration-count: infinite;
}

@keyframes rectangle-hero {
    0% {
        left: -100%;
        width: 500px;
        height: 150px;
    }

    50% {
        left: 100%;
        width: 750px;
        height: 150px;
    }

    100%{
        left: 100%;
        width: 500px;
        height: 150px;
    }
}

.rectangle-two-hero {
    width: 250px;
    height: 500px;
    background-color: rgba(82, 206, 24, 0.5);
    position: absolute;
    transition: all ease-in-out 1000ms;
    bottom: -100%;
    left: 41%;
    background-image: var(--background-glass);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur( 25px );
    animation-name: rectangle-two-hero;
    animation-duration: 30000ms;
    animation-delay: 15500ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rectangle-two-hero {
    0% {
        bottom: -100%;
    }

    50% {
        bottom: 100%
    }

    100%{
        bottom: 100%;
    }
}

.diamond-hero {
    background-image: var(--background-glass);
    width: 400px;
    height: 450px;
    transform: rotate(45deg);
    background-color: rgba(202, 13, 0, 0.5);
    position: absolute;
    right: -20%;
    top: -100%;
    overflow: hidden;
    transition: all ease-in-out 0ms;
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur( 25px );
    animation-name: diamond-hero;
    animation-duration: 30000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes diamond-hero {
    0% {
        transform: rotate(45deg);
        right: 0%;
    }

    50% {
        transform: rotate(-180deg);
        right: 0%;
        top: 150%;
    }

    100%{
        transform: rotate(-45deg);
        right: 0%;
        top: 150%; 
    }
}

.triangle-hero {
    background-image: var(--background-glass);
    width: 400px;
    height: 400px;
    transform: rotate(25deg);
    background-color: rgba(248, 0, 248, 0.5);
    position: absolute;
    left: 12.5%;
    bottom: 120%;
    overflow: hidden;
    transition: all ease-in-out 0ms;
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur( 25px );
    animation-name: triangle-hero;
    animation-duration: 30000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 17500ms;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

@keyframes triangle-hero {
    0% {
        transform: rotate(25deg);
        left: 10%;
        bottom: 120%;
    }

    50% {
        transform: rotate(300deg);
        left: 0%;
        bottom: -200%;
    }
    100% {
        transform: rotate(360deg);
        left: 0%;
        bottom: -100%;
    }
}

.bolt-hero {
    background-image: var(--background-glass);
    width: 450px;
    height: 450px;
    transform: rotate(-85deg);
    background-color: rgba(81, 188, 250, 0.5);
    position: absolute;
    right: -100%;
    top: -30%;
    overflow: hidden;
    transition: all ease-in-out 0ms;
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur( 25px );
    animation-name: bolt-hero;
    animation-duration: 30000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 23000ms;
    clip-path: polygon(61% 0, 100% 0, 80% 45%, 100% 45%, 40% 100%, 61% 46%, 41% 46%);
}

@keyframes bolt-hero {
    0% {
        right: -100%;
        top: -30%;
        transform: rotate(-85deg);

    }
    50% {
        right: 120%;
        top: 40%;
        transform: rotate(-115deg);

    }
    100% {
        right: 150%;
        top: 20%;
        transform: rotate(-115deg);

    }
}

.extra-hero {
    background-image: var(--background-glass);
    width: 300px;
    height: 300px;
    transform: rotate(0deg);
    background-color: rgba(59, 30, 57, 0.5);
    position: absolute;
    left: -100%;
    top: -20%;
    overflow: hidden;
    transition: all ease-in-out 0ms;
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur( 25px );
    animation-name: extra-hero;
    animation-duration: 30000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 20000ms;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

@keyframes extra-hero {
    0% {
        left: -100%;
        top: -20%;
        transform: rotate(0deg);

    }
    50% {
        left: 120%;
        top: 85%;
        transform: rotate(360deg);

    }
    100% {
        left: 150%;
        top: 85%;
        transform: rotate(360deg);

    }
}

/* -------------------------------- BREAKERS ---------------------------------------- */

.breaker {
    position: sticky;
    height: 100%;
    width: 150px;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    background-color: var(--font-through);
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 6;
}

.breaker img {
    height: 50px;
    width:unset;
}

/* -------------------------------- gallery ---------------------------------------- */

.gallery {
    background-color: var(--font-through);
    z-index: 6;
    position: relative;
}
 
.gallery-container {
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 150px);
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.gallery-row {
    height: 49.5%;
    width: 97.5%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.contain {
    width: 33%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.contain img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform ease-in 250ms;
}

.contain img:hover {
    transform: scale(1.02);
}



/* ------ Store ------------------- */

.store {
    position: relative;
}

.etsy-container {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 150px;
    
}

.commission-container {
    position: absolute;
    width: calc(50% - 150px);
    height: 100%;
    top: 0;
    right: 0;
}

.title-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.etsy-container img,
    .commission-container img {
    margin-top: 15px;
    height: 30px;
}

/* ---------------------  Contact ------------------- */

.contact {
    min-width: 35vw;
    z-index: 6;
}


.contact-breaker {

    position: sticky;
    right: 100px;
}
