* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-through: #e7dfd3;
    --background-glass: url("https://www.transparenttextures.com/patterns/otis-redding.png");

    /*url("https://www.transparenttextures.com/patterns/otis-redding.png");*/
}

body {
    position: relative;
    background-color: var(--font-through);
    overflow-y: hidden;
}

.nav-fixed {
    position: fixed;
    left: 0;
    height: 100%;
    width:150px;
}

.hero {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.studio-title {
    float: left;
    margin-left: 100px;
}

.silence-title {
    float:right;
    margin-right: 100px;
}


.starting-shape-one {
    background-image: var(--background-glass);
    width: 300px;
    height: 100%;
    background-color: rgba(202, 13, 0, 0.5);
    position: absolute;
    right: 100%;
    overflow: hidden;
    transition: all ease-in-out 0ms;
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur( 5px );
    z-index: 99;
}
.starting-shape-one-2 {
    background-image: var(--background-glass);
    width: 300px;
    height: 100%;
    background-color: rgba(140, 177, 116, 0.5);
    position: absolute;
    right: 122.5%;
    overflow: hidden;
    transition: all ease-in-out 0ms;
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur( 5px );
    z-index: 99;
}
.starting-shape-one-3 {
    background-image: var(--background-glass);
    width: 300px;
    height: 100%;
    background-color: rgba(94, 68, 206, 0.5);
    position: absolute;
    right: 145%;
    overflow: hidden;
    transition: all ease-in-out 0ms;
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur( 5px );
    z-index: 99;
}
.starting-shape-one-4 {
    background-image: var(--background-glass);
    width: 300px;
    height: 100%;
    background-color: rgba(215, 88, 226, 0.5);
    position: absolute;
    right: 167.5%;
    overflow: hidden;
    transition: all ease-in-out 0ms;
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur( 5px );
    z-index: 99;
}

.starting-shape-one-5 {
    background-image: var(--background-glass);
    width: 300px;
    height: 100%;
    background-color: rgba(229, 231, 114, 0.5);
    position: absolute;
    right: 189%;
    overflow: hidden;
    transition: all ease-in-out 0ms;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur( 5px );
    z-index: 99;
}


.moveOneAbout {
    top: -50vh;
    right: 80vw;
    height: 1000px;
    transform: rotate(45deg);
}

.starting-shape-two {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgba(44, 55, 156, 0.5);
    position: absolute;
    top: 40vh;
    right: 15%;
    overflow: hidden;
    transition: all ease-in-out 1000ms;
    background-image: var(--background-glass);
}

.moveTwoAbout {
    top: 40vh;
    right: 20%;
}

.starting-shape-three {
    width: 300px;
    height: 150px;
    background-color: rgba(236, 208, 47, 0.5);
    position: absolute;
    transition: all ease-in-out 1000ms;
    top: 25vh;
    right: 5%;
    background-image: var(--background-glass);
}

.moveThreeAbout {
    top: -50vh;
    right: -5%;
    width: 500px;
    height: 500px;
    transform: rotate(45deg)
}

.about-section {
    height: 100%;
    width: 100%;
}

.about-section h1 {
    font-size: 50px;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-section p:first-of-type {
    width: 50%;
    margin-left: 45%;
    text-align: right;
}

.about-section p:last-of-type {
    width: 50%;
    margin-right: 40%;
    text-align: left;
    margin-left: 5%;
}

/* -------------------------------- STORE ---------------------------------------- */

main {
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
  }
  
  
  section {
    min-width: 100vw;
    min-height: 100vh;
  }
  
  